<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Home Page</h1>
    <div class="container">
        <% products.forEach(elm => { %>
            <div class="product">
                <strong>Product Name:</strong> <%= elm.product_name %><br>
                <strong>Price:</strong> $<%= elm.price %><br>
                <strong>Info:</strong> <%= elm.product_info %><br>
                <strong>Category:</strong> <%= elm.category_name %>
            </div>
        <% }) %>
    </div>

    <div class="container">
        <h2>Search Products</h2>
        <form action="/" method="get" class="search-container">
            <select name="category">
                <option value=""> ALL </option>
                <% categories.forEach(cat => { %>
                    <option value="<%= cat.category_name %>"> <%= cat.category_name %> </option>
                <% }) %>
            </select>
            <button type="submit">SEARCH</button>
        </form>
        
        <h2>Add New Product</h2>
        <form action="/add/product" method="post">
            <input type="text" name="product_name" placeholder="Product name..." required />
            <input type="number" name="product_price" placeholder="Product price..." required />
            <input type="text" name="product_info" placeholder="Product info..." required />
            <select name="product_category" required>
                <% categories.forEach(cat => { %>
                    <option value="<%= cat.id %>"> <%= cat.category_name %> </option>
                <% }) %>
            </select>
            <button type="submit">ADD</button>
        </form>

        <h2>Delete Product</h2>
        <form action="/delete/product" method="post">
            <select name="selected_product" required>
                <% products.forEach(elm => { %>
                    <option value="<%= elm.product_name %>"><%= elm.product_name %></option>
                <% }) %>
            </select>
            <button type="submit">DELETE</button>
        </form>

        <h2>Update Product</h2>
        <form action="/update/product" method="post">
            <input type="text" name="new_product_name" placeholder="New product name..." required />
            <input type="number" name="new_product_price" placeholder="New product price..." required />
            <input type="text" name="new_product_info" placeholder="New product info..." required />
            <select name="new_product_category" required>
                <% categories.forEach(cat => { %>
                    <option value="<%= cat.id %>"> <%= cat.category_name %> </option>
                <% }) %>
            </select>
            <select name="selected_product" required>
                <% products.forEach(elm => { %>
                    <option value="<%= elm.product_name %>"><%= elm.product_name %></option>
                <% }) %>
            </select>
            <button type="submit">UPDATE</button>
        </form>
    </div>

    <div class="navigation">
        <a href="/categories">Go to Categories</a>
    </div>
</body>
</html>